@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: League Spartan, sans-serif;
}
body{
    width: 100%;
    height: 50px;
   
    }
    .logo {
    height: 130px;
    width: 130px;
    margin-left: 40PX;
    margin-top: 10px;
    border-radius: 80px;
}
/* .navbar {
  list-style: none;
  font-size: 25px;
    font-weight: 800;
  display: flex;
  gap: 20px;
  background-color: #042685;
}

.navbar a  {
  text-decoration: none;
  position:relative; 
  color: rgb(233, 228, 228);
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: rgb(206, 186, 8);
  transition: width 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
}
.navbar a:hover{
  color: #eccc3a;
}


 h1{
  color: #fff;
  font-size: 40px;
  padding: 20px;

}
h1:hover{
  color: #eccc3a;
}

h2{
     color: #a72b2b;
  font-size: 40px;
  padding: 20px;  
}
h2:hover{
  color: #1030e2;
} */
 .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #042685;
  gap: 2rem;
}

.nav-left,
.nav-center,
.nav-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-left {
  justify-content: flex-start;
}

.nav-center {
  flex-direction: column;
  text-align: center;
}

.nav-right {
  justify-content: flex-end;
  gap: 3rem;
  font-size: larger;
}

.logo {
  height: 120px;
}

.nav-right a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-right a:hover {
  color: #eccc3a;
}
h1{
  color: #eccc3a;
  font-size: 60px;
}
.mrr {
  color: #c71d1d;
  font-size: 20px;
  font-weight: 700;
}
 .senapati{
  color: #f8fbfd;
  font-size: 15px;
}
.aboutinfo img{
    height: 300px;
    width: 250px;
    margin-left: 70px;
    margin-top: 70px ;
  }
  .aboutinfo img:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
  }
  .aboutinfo{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
  }
   span{
    color: #034069;
    font-weight: 800;
  }
  .aboutinfo p{
    margin-left: 20px;
    margin-right: 10%;
    line-height: 30px;
    color: #4b4949;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 420;
  }
  .aboutinformation{
    margin-left: 90px;
    margin-top: 50px;
    font-size: 16px;
    color:#4b4949 ;

  }
  .aboutimg img{
  max-width: 30%;
  height: 280px;
  padding-top: 15px;
  padding-left: 50px;



  }
  .aboutimg{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    background-color: #034069;
    height: 600%;
  }
  .aboutimg:hover{
    box-shadow: 0 0  4px 10px rgba(5, 39, 90, 0.4);
  }
  .aboutinfo01 p{
     font-size: 16px;
    color:#4b4949 ;

  }
  .aboutinfo01 li {
     font-size: 16px;
    color:#4b4949 ;
  }
  p{
    margin-left: 20px;
  }
  li{
     margin-left: 20px;
  }