@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: League Spartan, sans-serif;
}
body{
    width: 100%;
    height: 50px;
    }
    .headerimg{
      width: 750px;
      height: 200px;
      justify-content: space-evenly;
    }
    
    .navbar {
  background-color: #0b4e9b;
  padding: 1rem 2rem;
  margin-left: 750px;
  height: 200px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #00bcd4;
}


 /* .logo {
    height: 130px;
    width: 130px;
    margin-left: 40PX;
    margin-top: 10px;
    border-radius: 80px;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #042685;
  gap: 2rem;
}

/* .nav-left,
.nav-center,
.nav-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
} */
 
.nav-left,
.nav-center,
.nav-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-left {
  justify-content: flex-start;
}

.nav-center {
  flex-direction: column;
  text-align: center;
}

.nav-right {
  justify-content: flex-end;
  gap: 3rem;
  font-size: larger;
 
}



.nav-right a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-right a:hover {
  color: #eccc3a;
}

h1{
  color: #eccc3a;
  font-size: 60px;
}
.mrr {
  color: #c71d1d;
  font-size: 20px;
  font-weight: 700;
}
 .senapati{
  color: #f8fbfd;
  font-size: 15px;
} */
/* .navbar {
 
  list-style: none;
  font-size: 25px;
    font-weight: 800;
  display: flex;
  gap: 20px;
  background-color: #042685;
}

.navbar a  {
  text-decoration: none;
  position:relative;
 
  color: rgb(233, 228, 228);
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: rgb(206, 186, 8);
  transition: width 0.3s ease;
}


.navbar a:hover::after {
  width: 100%;
}
.navbar a:hover{
  color: #eccc3a;
}

 h1{
  color: #eccc3a;
  font-size: 60px;
  font-weight: 900;
  padding: 20px;

}
.rr {
  color: #c24940;
  margin-top: 150px;
 
}
.sarsenapati{
color:#ebeee8 ;
font-size: 15px;
}
h1:hover{
  color: #eccc3a;
} */





/* #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
} */
/* #navbar button{
    height: 40px;
    width: 90px;
    border-radius: 10px;
    border: 2px solid #042685;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    margin-left: 50px;
    }
    #navbar button:hover{
        color: #fff;
        background-color: #042685;
        border: 2px solid #faf9f9;
    } */
/* #navbar li{
    list-style: none;
    padding: 0 30px;

}
#navbar li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 800;
   margin-left: auto;
    color: #faf9f9;
    transition: 0.3s;
}
#navbar li a:hover,
#navbar  a.active{
    color: #eccc3a;
}
#navbar li a:hover::after,
#navbar a:active::after{
    content: "";
    width: 30px;
    height: 2px;
    background-color: #88a740;
    position: absolute;
    bottom: -4px;
    left: 20px;
} */
.swiper {
    width: 100%;
    max-width: 900px;
    height: 550px;
    margin-top: 50px;
    box-shadow: 0 5px 15px rgba(13, 13, 14, 0.9);
  }
  .swiper-button-prev{
  color: #042685;
  }
  .swiper-button-next{
    color: #042685;
  }

  .swiper-slide img {
    width: 60%;
    height: 100%;
    object-fit: cover;
    margin-left: 20%;

  }
  .about_sir img{
    height: 300px;
    width: 250px;
    margin-left: 70px;
    margin-top: 70px ;
  }
  .about_sir img:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
  }
  .about_sir{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
  }
   span{
    color: #034069;
    font-weight: 800;
  }
  .info{
    margin-left: 20px;
    margin-right: 10%;
    line-height: 30px;
    color: #4b4949;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 420;

  }
  .paragraph{
    margin-left: 90px;
    margin-top: 50px;
    font-size: 16px;
    color:#4b4949 ;

  }

  .images img{
  max-width: 20%;



  }
  .images{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
  }
  .images img:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
  }
  

.form-container {
  background: rgb(194, 226, 241);
  padding: 30px;
 
  height: 1200%;
  max-width: 900px;
  margin: 30px 80px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.form-container:hover{
  
  box-shadow: 0 0 15px 5px rgb(24, 51, 202);
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 15px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  margin-top: 50px;
  width: 100%;
  padding: 10px;
  background: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #406892;
}

#message {
  margin-top: 15px;
  text-align: center;
  color: rgb(0, 81, 128);
}
.contact-section {
  max-width: 400px;
 margin-top: 3rem;
 margin-left: 30rem;
  background: #fff;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.9);
}
#contactForm img{
 
  width: 100%;
  
  
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  margin-top: 15px;
 
}

input, textarea {
  width: 100%;
  height: 10px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: #1f52a0;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

button:hover {
  background: #ee9494;
}

#formStatus {
  margin-top: 15px;
  text-align: center;
  color: green;
  font-weight: bold;
}

  /* footer{
    display: flex;
    flex: wrap;
    justify-content: space-between;
    background-color: #f2f5f7;
    margin-top: 20px;
  box-shadow: 0 0 35px 0 rgba(31, 30, 30, 0.6);
 }


 footer col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
 }
 footer .logo{
  margin-bottom: 10px;
  margin-left: 20px;
 }
 footer .logo:hover{
box-shadow: 0 0 35px 0 rgba(31, 30, 30, 0.6);
 }
 footer h4{
  font-size: 25px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 20px;
  color: #034069;



 }
 footer h4:hover{
  color: #eccc3a;
 }
 strong{
  font-size: 15px;
 }

footer  p:hover{
  color: #eccc3a;
 }
 footer p{
  font-size: 13px;

  margin-left: 20px
 }
 footer a{
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
 }
 footer .follow{
  margin-top: 20px;
  margin-left: 20px;
 }
 footer i{
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
 }
 footer .icon i{
 font-weight: 900;
 font-size: 190%;
 }
 footer .follow i:hover,
 footer a:hover{
  color: #eccc3a;
 }
 .copyright{
 font-size: 15px;
 font-weight: 500;
 text-align: center;
 margin-top: 20px;
 margin-bottom: 20px;
 } */
  footer {
  background-color: #1f52a0;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
}

.social-icons {
  margin-top: 10px;
}

.icon {
  display: inline-block;
  margin: 0 10px;
  color: #ccc;
  font-size: 20px;
  transition: color 0.3s;
}

.icon:hover {
  color: #9e1717;
}
 /* style.css */
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
} */


.id-card {
  width: 300px;
  height: 570px;
  margin-left: 530px;
  margin-top: 8px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0  30px rgba(0,0,0,0.2);
  text-align: center;
}
.issue{
  padding-top: 30px;
  margin-right: 70%;
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
}
.id-card img{
  width: 300px;
  height: 60px;
 
}
.id_info{
text-decoration: underline;
}
.end_part{
  margin-left: 50px;

}

 .footer {
  background-color: #003366;
  color: white;
  height: 25px;
  padding-bottom: 5px;
 margin-top: 15px;
  font-weight: small;
}

.photo {
  margin: 7px 0;
}

.photo img {
  width: 130px;
  height: 150px;
  border-radius: 10%;
  border: 1px solid #1c558f;
  
}

.details {
 padding-left: 10px;
  padding-top: 5px;
  text-align: left;
  font-size: 15px;
}


.form-container {
  width: 100%;
  height: 1380px;
  max-width: 600px;
  margin: 40px auto;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
form img{
  height: 260px;
  width: 220px;
  margin-top: 30px;
  margin-left: 150px;
}
form p{
  font-size: 17px;
  font-weight: 800;
  margin-top: 10px;
  margin-left: 90px;
}
form .fees h2{
  margin-top: 10px;

}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

form input,
form select
 {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
}
form textarea{
   width: 100%;
  padding: 8px;
  margin-top: 5px;
  height: 120px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  margin-top: 20px;
  width: 100%;
  background-color: #2f14c5;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}




